{
  "root": true,
  "env": {
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "standard", 
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "rules": {
    "space-before-function-paren": ["error", "never"]
  }
}
